.create-item
  .text-box
    .add-item-inner
      span.title Add new item

    .item-form-region

.create-template-list
  .topcoat-list
    .topcoat-list__header
      span(class='child-item') Report items
    .items-region
