.manager-box
  .text-box
    .key Current manager
    .value MaratFakhreev

.create-items-list
  .topcoat-list
    .topcoat-list__header
      span(class='child-item') Report items
    .items-region

  textarea(class='topcoat-textarea report-text' rows='5' placeholder='Please write short description for your report')

.submit-button-box
  button(id='submit_button' class="topcoat-button--cta") Submit report
