.user
  .nickname.text-box #{username}
  div(class='topcoat-button logout') Logout

div(class='topcoat-list__container navigation-list-container')
  ul(class='topcoat-list')
    li(class='topcoat-list__item navigation-list-item')
      a(href=routes.allReports() class='navigation-button js-link')
        .link-box
          span Reports
        .fa-box
          i(class='fa fa-angle-right')
    li(class='topcoat-list__item navigation-list-item')
      a(href=routes.createReport() class='navigation-button js-link')
        .link-box
          span Create Report
        .fa-box
          i(class='fa fa-angle-right')
    li(class='topcoat-list__item navigation-list-item')
      a(href=routes.createTemplate() class='navigation-button js-link')
        .link-box
          span Create Template
        .fa-box
          i(class='fa fa-angle-right')
