$bgLightGreyColor = #dfe2e2
$bgDarkGreyColor = #d2d6d6
$itemGreyColor = #e5e9e8
$borderColor = #9daca9
$fontColor = #454545
$blueColor = #288edf
$darkBlueColor = #1e7dc8
$whiteColor = #ffffff
$redColor = #ec514e
$darkRedColor = #c54442
