clearfix()
  zoom: 1

  &::before
  &::after
    content: ''
    display: block

  &::after
    clear: both

nolist()
  list-style: none outside

box()
  background-color: $itemGreyColor
  box-sizing: border-box
  padding: 1.25rem
  color: $fontColor
  border-radius: 6px

scrollBox()
  position: absolute
  left: 0
  right: 0
  bottom: 0
  overflow: auto
  -webkit-overflow-scrolling: touch

borderLeftRadius()
  border-top-left-radius: 6px
  border-bottom-left-radius: 6px

borderRightRadius()
  border-top-right-radius: 6px
  border-bottom-right-radius: 6px

borderTopRadius()
  border-top-right-radius: 6px
  border-top-left-radius: 6px

borderBottomRadius()
  border-bottom-right-radius: 6px
  border-bottom-left-radius: 6px
