*:not(input):not(textarea)
  -webkit-touch-callout: none
  -webkit-user-select: none

input[type="text"]
input[type="password"]
input[type="email"]
input[type="tel"]
input[type="url"]
input[type="date"]
input[type="time"]
input[type="datetime-local"]
input[type="number"]
select
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none
  appearance: none

input[type='date']
input[type='time']
  height: 3rem

ul
li
ol
  nolist()
  padding: 0
  margin: 0

.topcoat-text-input
.topcoat-button
.topcoat-textarea
  margin: 5px 0 5px 0
  display: block
  width: 100%

.topcoat-icon-button--quiet
  &:hover
    background-color: inherit !important
    border: inherit !important
    box-shadow: inherit !important
    text-shadow: inherit !important

.topcoat-button
  text-align: center

.topcoat-list__header
  clearfix()
  font-size: 16px

.topcoat-textarea
  padding: 1rem
  font-size: 20px
  border-radius: 6px
  line-height: 1.4

.topcoat-switch__toggle:before
  content: 'YES'

.topcoat-switch__toggle:after
  content: 'NO'
