.reports-container
  height: 100%

.controls
  min-height: 13rem
  height: 23%

.reports
  overflow: auto
  -webkit-overflow-scrolling: touch
  position: absolute
  box-sizing: border-box
  top: 13.4rem
  left: 0
  right: 0
  bottom: 0
