.reports-container
  height: 100%

.controls
  min-height: 13rem
  height: 23%

.reports
  scrollBox()
  top: 13.4rem

.reports-list
.topcoat-list__header
  li
    clearfix()

    a
      clearfix()
      display: block
      color: $blueColor

  .child-item
    &.item-id
      col(4/20)

    &.item-manager
      col(11/20)

    &.item-date
      col(5/20)

  .topcoat-list__item
    padding: 0

    a
      padding: 1.25rem
