.item-inner
  div(class='child-item item-type')
    .circle-wrapper
      if type === 'boolean'
        .circle.boolean
          label(class='topcoat-switch')
            input(type='checkbox' class='topcoat-switch__input' checked)
            .topcoat-switch__toggle
      else if type === 'integer'
        .circle.integer
          input(type='text' class='topcoat-text-input' value='46')
      else if type === 'string'
        .circle.string
          input(type='text' class='topcoat-text-input' value='reserved')
  div(class='child-item item-name') #{name}
  i(class='fa fa-times f-icon delete-button')
  i(class='fa fa-pencil-square-o f-icon edit-button')

.create-item
  .text-box
    .item-form-region
