.topcoat-list
  .topcoat-list__header
    span(class='child-item item-id') Report ID
    span(class='child-item item-manager') Manager
    span(class='child-item item-date') Date
  ul.topcoat-list__container

