.datetime-title #{formTitle}
ul
  li
    .clear-field &times;
    input(id=dateId class='topcoat-text-input' type='date' name='date' min='2013-01-01')
  li
    .clear-field &times;
    input(id=timeId class='topcoat-text-input' type='time' name='time')
