.datetime-title #{formTitle}
ul
  li
    .clear-field &times;
    div(id=dateId class='datetime-box date-box' data-name='date')
  li
    .clear-field &times;
    div(id=timeId class='datetime-box time-box' data-name='time')
